/* Figma Styles of your File */
:root {
  /* Colors */
  --foundation-blue-b50: #e6f0ff;
  --foundation-blue-b75: #96c0ff;
  --foundation-blue-b100: #6ba6ff;
  --foundation-blue-b200: #2b7fff;
  --foundation-blue-b300: #0065ff;
  --foundation-blue-b400: #0047b3;
  --foundation-blue-b500: #003e9c;
  --foundation-blue-b50: #e6f0ff;
  --foundation-blue-b75: #96c0ff;
  --foundation-blue-b100: #6ba6ff;
  --foundation-blue-b200: #2b7fff;
  --foundation-blue-b300: #0065ff;
  --foundation-blue-b400: #0047b3;
  --foundation-blue-b500: #003e9c;
  --foundation-blue-b50: #e6f0ff;
  --foundation-blue-b75: #96c0ff;
  --foundation-blue-b100: #6ba6ff;
  --foundation-blue-b200: #2b7fff;
  --foundation-blue-b300: #0065ff;
  --foundation-blue-b400: #0047b3;
  --foundation-blue-b500: #003e9c;
  --foundation-blue-b50: #e6f0ff;
  --foundation-blue-b75: #96c0ff;
  --foundation-blue-b100: #6ba6ff;
  --foundation-blue-b200: #2b7fff;
  --foundation-blue-b300: #0065ff;
  --foundation-blue-b400: #0047b3;
  --foundation-blue-b500: #003e9c;

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
